<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="col-md-6">
    <div class="container">
        <div class="jumbotron">
       
          <a routerLink="/users">List Users</a>
          <a style="margin-left:10px" routerLink="/add">Add User</a>
          <a style="margin-left:10px" routerLink="/logout">Log Out</a>
        </div>
         </div>
        </div>
<div class="container">
  <h2 class="text-center">Update User</h2>
<form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" [(ngModel)]="user.username" placeholder="UserName" name="username" class="form-control" id="username">
  </div>

  <div class="form-group">
    <label for="configValue">Passowrd:</label>
    <input type="password" [(ngModel)]="user.password" placeholder="Password" name="Password" class="form-control" id="password">
  </div>

  <div class="form-group">
    <label for="salary">Salary:</label>
    <input  type="text" [(ngModel)]="user.salary" placeholder="Salary" name="salary" class="form-control" id="salary">
  </div>

  <div class="form-group">
    <label for="age">Salary:</label>
    <input  type="text" [(ngModel)]="user.age" placeholder="Age" name="age" class="form-control" id="age">
  </div>

  <button class="btn btn-success" (click)="updateUser(user)">Edit</button>
</form>
</div>