<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="col-md-6">
    <div class="container">
        <div class="jumbotron">
       
          <a routerLink="/users">List Users</a>
          <a style="margin-left:10px" routerLink="/add">Add User</a>
          <a style="margin-left:10px" routerLink="/logout">Log Out</a>
        </div>
         </div>
        </div>
    
<h2> User Details</h2>

<table class="table table-striped" style="table-layout:fixed">
  <thead>
  <tr>
    <th style="text-align:center" class="hidden">Id</th>
    <th style="text-align:center">Username</th>
    <th style="text-align:center">Salary</th>
    <th style="text-align:center">Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td class="hidden">{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.salary}}</td>
    <td>{{user.age}}</td>
    <td><button class="btn btn-primary"  [routerLink]="['/edit',user.id]" routerLinkActive="active">Edit</button></td>
    <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
  </tr>
  </tbody>
</table>
